@using CuratorMagazineWebAPI.Models.Entities.Domains
<div class="row ">
    <div class="col-md-1">
        @if (CurrentUser.ProfilePhoto == null)
        {
            <img class="rounded img-fluid" src="../img/no-img.jpg" alt="">
        }
        else
        {

        }
    </div>
    <div class="col-md-8">
        <h5>@CurrentUser.Name</h5>
        <p>@CurrentUser.Email</p>
    </div>
    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#addModal">Изменить</button>
        <button type="button" class="btn btn-secondary" @onclick="(() => DeleteVDEW.InvokeAsync(CurrentUser))">Удалить</button>
    </div>
    <hr>
</div>
<ModalChangeVDEWWindow ChangeVDEW="SaveVDEW" CurrentUser="CurrentUser"></ModalChangeVDEWWindow>

@code {
    [Parameter]
    public User? CurrentUser { get; set; }

    [Parameter] 
    public EventCallback<User> DeleteVDEW { get; set; }

    void SaveVDEW(User user)
    {

    }
}
