@using CuratorMagazineBlazorApp.Data.Services
@using CuratorMagazineWebAPI.Models.Entities.Domains

<div class="container my-4 bg-secondary bg-opacity-50">
    <div class="container-fluid">
        <BodySearchBar></BodySearchBar>
        <div class="overflow-auto container scroll" >

            @foreach (var item in _users)
            {
                if (item.Division == CurrentUser.Division && item.Role.Id == 2)
                {
                    <IndividualVDEW CurrentUser="item" DeleteVDEW="DeleteVDEW"></IndividualVDEW>
                }
                
            }
        </div>
        <div class="row">
            <div class="row-md text-center mb-2">
                <hr>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</button>
                <ModalAddVDEWWindow AddVDEW="AddVDEW"></ModalAddVDEWWindow>
            </div>
        </div>
    </div>
</div>
            
